@import "tailwindcss";

/* Theme token mapping */
@theme {
  --radius-radius-lg: var(--radius-lg);
  --radius-radius-sm: var(--radius-sm);

  --color-surface: var(--color-surface);
  --color-on-surface: var(--color-on-surface);

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-error: var(--color-error);

  --color-success-toast: var(--color-success-toast);
  --color-error-toast: var(--color-error-toast);
  --color-warning-toast: var(--color-warning-toast);
  --color-info-toast: var(--color-info-toast);

  --color-strong: var(--text-strong);
  --color-basec: var(--text-basec);
  --color-muted: var(--text-muted);

  --color-shadow: var(--color-shadow);

  --font-geist-mono: var(--font-geist-mono);
}

/* Global theme values */
:root {
  --radius-lg: 0.5rem; /* large border radius */
  --radius-sm: 0.3rem; /* small border radius */

  --color-surface: oklch(1 0 0); /* background color */
  --color-on-surface: oklch(1 0 0); /* surface text color */

  --color-primary: oklch(0.2046 0 0); /* main brand color */
  --color-secondary: oklch(0.9821 0 0); /* secondary brand color */
  --color-error: oklch(0.65 0.1921 28.84);

  --color-success-toast: oklch(0.7003 0.1241 154.06);
  --color-error-toast: oklch(0.65 0.1921 28.84);
  --color-warning-toast: oklch(0.7764 0.1438 49.24);
  --color-info-toast: oklch(1 0 0);

  --text-strong: oklch(0.1448 0 0); /* strong text color */
  --text-basec: oklch(0.5555 0 0); /* base text color */
  --text-muted: oklch(0.9219 0 0); /* muted text color */

  --color-shadow: oklch(0.38 0.0966 227.65 / 53.69%); /* shadow color */

  /* --bg-image: url("/background.jpg"); */
}

body {
  @apply font-geist-mono bg-fixed bg-cover bg-no-repeat bg-on-surface;
  /* background-image: var(--bg-image); */
}

@layer utilities {
  .shadow {
    box-shadow: 0px 0px 77px -55px var(--color-basec);
    -webkit-box-shadow: 0px 0px 77px -55px var(--color-basec);
    -moz-box-shadow: 0px 0px 77px -55px var(--color-basec);
  }

  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
  }

  .error-text {
    @apply text-error/60 text-xs font-medium pl-1;
  }

  .toast-item {
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  .toast-enter {
    animation-name: slide-in-right;
  }

  .toast-exit {
    animation-name: slide-out-right;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas:
      "box-1 box-4 box-4 box-4 box-4"
      "box-2 box-2 box-3 box-3 box-3"
      "box-2 box-2 box-3 box-3 box-3";
  }

  .box-item {
    @apply border border-muted rounded-radius-lg flex items-center;
  }
}

@layer base {
  ::-webkit-scrollbar {
    @apply w-[2px] h-[2px];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-basec w-[2px] h-[1px];
  }

  @keyframes slide-in-right {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-out-right {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateY(-10rem);
    }
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: auto;
    gap: 0.5rem;
    grid-template-areas:
      "box-1 box-1 box-1"
      "box-2 box-2 box-2"
      "box-3 box-3 box-3"
      "box-4 box-4 box-4";
  }
}
