@import "tailwindcss";

/* Theme token mapping */
@theme {
  --radius-radius-lg: var(--radius-lg);
  --radius-radius-sm: var(--radius-sm);

  --color-surface: var(--color-surface);
  --color-on-surface: var(--color-on-surface);

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-error: var(--color-error);

  --color-strong: var(--text-strong);
  --color-basec: var(--text-basec);
  --color-muted: var(--text-muted);

  --color-shadow: var(--color-shadow);

  --font-geist-mono: var(--font-geist-mono);
}

/* Global theme values */
:root {
  --radius-lg: 0.7rem; /* large border radius */
  --radius-sm: 0.3rem; /* small border radius */

  --color-surface: oklch(1 0 0); /* background color */
  --color-on-surface: oklch(1 0 0); /* surface text color */

  --color-primary: oklch(0.2046 0 0); /* main brand color */
  --color-secondary: oklch(0.9821 0 0); /* secondary brand color */
  --color-error: oklch(0.65 0.1921 28.84);

  --text-strong: oklch(0.1448 0 0); /* strong text color */
  --text-basec: oklch(0.5555 0 0); /* base text color */
  --text-muted: oklch(0.9219 0 0); /* muted text color */

  --color-shadow: oklch(0.38 0.0966 227.65 / 53.69%); /* shadow color */
}

/* Apply mono font */
body {
  @apply font-geist-mono  bg-surface absolute inset-0 -z-10 h-full w-full bg-[radial-gradient(#f9f9f9_1px,transparent_1px)] [background-size:16px_16px];
}

@layer utilities {
  .shadow {
    box-shadow: 0px 0px 400px -66px var(--color-shadow);
    -webkit-box-shadow: 0px 0px 400px -66px var(--color-shadow);
    -moz-box-shadow: 0px 0px 400px -66px var(--color-shadow);
  }

  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
  }
}

@layer base {
  ::-webkit-scrollbar {
    @apply w-[2px] h-[2px];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-strong w-[2px] h-[1px];
  }
}
